/* ==================
    Buttons
==================*/

.button {
    background: $bg-primary;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
    line-height: 22px;
    transition: .3 ease all;
}
.button:hover {
    background: $bg-primary;
    opacity: .8;
}

.button.green {
    background: $bg-secondary;
}
.button.green:hover {
    background: $bg-secondary;
    opacity: .8;
}
