.card {
    padding: 40px;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(#696868, .2);
}

.card-bg-primary {
    padding: 40px;
    background: var(--bg-primary);
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(#696868, .2);
    color: #fff;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}