.card {
    padding: 2.7rem;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(#696868, .2);
}
.card-title {
    font-size: 1rem;
    font-weight: bold;
}
.card-body {
    padding-top: 12px;
}

.card-bg-primary {
    padding: 40px;
    background: $bg-primary;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(#696868, .2);
    color: #fff;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}