.nav {
    background: var(--bg-primary);
    display: flex;
    flex-wrap: wrap;
}
.nav .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}
.nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 25px;
    transition: .3s ease all;
    font-size: 18px;
}
.nav a.activo,
.nav a:hover {
    background: rgb(89, 59, 221);
}