.section {
    margin-left: 0rem;
    height: 100vw;
    transition: all $time-transition;
}
.section-active {
    margin-left: 17rem;
}

@media (max-width: 992px) {
    .section-active {
        margin-left: 0rem;
    }
}