$time-transition: 1s;
$bg-primary: #0e467a;
$bg-primary-light: #260e7a;
$bg-secondary: green;
$bg-white: #f0f2f5;
$bg-dark: #313131;
$color:red;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: rgb(255, 255, 255);
}
li {
    list-style: none;
}

.progress-bar {
    background: blue;
    width: 100%;
    height: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
}

.progress-bar__progress { 
    height: .1rem;
	background: $bg-white;
    width: 100%;
}
.progress-bar__progress > span {
    display: block;
    height: 100%;
    background-color: #14054b;
    position: relative;
    animation: prog 12s linear;
}
@keyframes prog {
    0% {
        width: 100%
    }
    100% {
        width: 0%
    }
}

.sidebar {
    width: 17rem;
    background: #333333;
    position: fixed;
    right: -17rem;
    top: 0;
    bottom: 0;
    left: 100%;
    /*top: -100%;*/
    display: flex;
    flex-direction: column;
    transition: all $time-transition;
    z-index: 100;
    overflow: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.active {
    right: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}

.sidebar__header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 4rem;
    background: $bg-primary;
    display: flex;
    gap: 1rem;
    justify-content:space-evenly;
    align-items: center;
    border-bottom: 1px solid $bg-primary;
    z-index: 100;
}
.sidebar__header-brand {
    color: $bg-white;
    font-size: 1rem;
    
}
.sidebar__header-icono, .sidebar__header-icono button {
    color: $bg-white;
    font-size: 1.4rem;
    cursor: pointer;
}

.sidebar__description {
    min-height: 9rem;
    background: $bg-primary;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}
.sidebar__description-data {
    display: flex;
    gap: .4rem;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.sidebar__description-name {
    color: $bg-white;
    font-size: 14px;
    margin: 0rem;
}
.sidebar__description-job {
    color: $bg-white;
    font-size: 12px;
    margin: 0rem;
}
.sidebar__description-profile {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: #D3B5F9;
    border: 3px solid $bg-white;
    position: absolute;
    top: 61%;
    font-size: 2.5rem;
    color: #333333;
}
.sidebar__description-profile-online {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #10b610;
    position: absolute;
    top: 1rem;
    right: 0rem;
}

.sidebar__section {
    display: flex;
    justify-content:space-between;
    padding: 0rem 1rem;
    align-items: flex-end;
    min-height: 6rem;
    background: #252525;
    color: $bg-white;
}
.sidebar__section-textonline i{
    color: green;
    border-radius: 50%;
}

/* Menú */

.sidebar__nav {
    margin-top: 2rem;
    min-height: auto;
}
.sidebar__nav-list {
    /* */
}
.sidebar__nav-list-item {
    background: #333333;
    width: calc(100% - 0rem);
    height: 3rem;
}
.sidebar__nav-list-item a {
    color: $bg-white;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.sidebar__nav-list-item a:hover {
    background: #202020;
}

.header {
    min-height: 4rem;
    min-width: 100%;
    background: $bg-primary;
    background: #ffffff;
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    border-bottom: 1px solid #c0baba;
    position: fixed;
    top: 0;
    z-index: 50;
    
}
.btnToggle, .btnToggle a {
    color: #7E7E7E;
    font-size: 1.4rem;
    cursor: pointer;
}
.section {
    background: #fff;
    margin-left: 0rem;
    height: 100vw;
    transition: all $time-transition;
}
.section-active {
    margin-left: 17rem;
}
.color-grey {
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__header {
    width: 100%;
    height: auto;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 50rem;*/
    transition: all $time-transition;
}
.section__header video {  
    width: 100%;
}
.section__header p {
    position: absolute;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
}
.section__portafolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background: $bg-white;
}
.section__portafolio-cards {
    width: 90%;
    display: flex;
    gap: 1rem;
    padding: 2rem 5%;
}
.section__portafolio-cards-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    background: #fff;
    transition: all $time-transition;
    border-radius: .5rem;
}
.section__portafolio-cards-card:hover {
    cursor: pointer;
}
.section__portafolio-cards-card-header {
    /**/
}
.section__portafolio-cards-card-header img{
    width: 100%;
    height: 18rem;
}

.section__contacto {
    width: 100%;
    height: 30rem;
    background: $bg-primary;
    color: $bg-white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.section__contacto-a {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.section__contacto-b {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.btn {
    padding: .5rem 1rem;
    background-color: #357EDD;
    color: #fff;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
}
.btn:hover {
    padding: .5rem 1rem;
    background-color: #84af5c;
    color: #fff;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
 }

@media (max-width: 992px) {
    .section-active {
        margin-left: 0rem;
    }
    .sidebar {
        width: 80%;
    }
    .section__header p {
        position: absolute;
        font-size: 1.5rem;
        color: #fff;
        font-weight: bold;
    }
    .section__portafolio-cards { 
        flex-direction: column;
    }
    
}